@import url("reset.css");

:root {
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    --color-text-title: #EEEEEE;
    --color-text-header: #B9E7E9;
    --color-text: #C2C7C7;
    --svg-filter: invert(97%) sepia(3%) saturate(54%) hue-rotate(165deg) brightness(116%) contrast(76%);
    --color-bg: rgb(5, 7, 10);
    --color-bg-header: rgb(5, 7, 10);
}

html {
    min-height: 100vh;
    background: var(--color-bg);
}

body > main {
    width: 100%;
    max-width: 70ch;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    display: flex;
    flex-direction: column;
    line-height: inherit;
}

@media only screen and (max-width: 768px) {
    body {
        margin-top: 1rem;
        margin: 1rem;
        box-sizing: border-box;
    }
    body > main {
        margin-top: 0;
    }
}

body > main > *:not(:last-child) {
    border-bottom: 1px solid var(--color-text);
    margin-top: 1rem;
    padding-bottom: 1rem;
}

body > main > *:last-child {
    margin-top: 1rem;
}

h1 {
    color: var(--color-text-title);
}

h2, h3, h4, h5, h6, p, li, section, div, article, a {
    color: var(--color-text-header);
    line-height: 1.5rem;
    height: fit-content;
}

@media only screen and (max-width: 768px) {
    h4 {
        color: var(--color-text);
    }
}

p, li, section, div, article, a {
    color: var(--color-text);
}

h1 { font-size: 2em; font-weight:700; }
h2 { font-size: 1.0em; }
h3 { font-size: 1.0em; }
h4 { font-size: 1.0em; }
p, li, section, div, article, a { font-size: 1em; }

p:not(:last-child) {
    margin-bottom: 1rem;
}

.text_list > li:before {
    content: "- ";
}

.quiet_text {
    opacity: 0.6;
}

.underline {
    text-decoration:underline;
}

.title_card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem !important;
}

.content_split {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .content_split {
        flex-direction: column;
    } 
}
.content_split > *:first-child {
    flex: none;
    width: 15ch;
    max-width: 15ch;
    background: var(--color-bg-header);
}

@media only screen and (max-width: 768px) {
    .content_split > *:first-child {
        text-transform: capitalize;
        max-width: 100%;
        width: 100%;
    } 
}

.contact_list {
    display: flex;
    flex-direction: column;
}

.contact_list > li > *{
    display: inline-block;
    margin: 0;
}

.contact_list > li >*:first-child {
    flex: none;
    width: 10ch;
    max-width: 10ch;
}

.svg_external_link {
    opacity: 0;
    filter: var(--svg-filter);
    max-height: 1rem;
    display: inline;
    position: relative;
    bottom: -0.125rem;
}

.external_link:hover + .svg_external_link {
    display: block;
    opacity: 1;
}

.external_link_title {
    display: flex;
    flex-direction: row;
    gap: 0.85ch;
}

.external_link_email {
    display: flex;
    flex-direction: row;
    gap: 0.85ch;
}

.work_job_title {
    display: flex;
    justify-content:space-between;
}

@media only screen and (max-width: 768px) {
    .work_job_title {
        flex-direction: column;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .start_of_link {
        display: none;
    }
}

.contact_link:hover {
    text-decoration: underline;
    color: var(--color-text-header);
}

.theme_link:hover {
    color: var(--color-text-header);
}

.theme_link:hover:before {
    content: "> ";
}
