@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-family: "Manrope", "Poppins", "Open Sans", sans-serif;
    --color-text-title: #FFFFFF;
    --color-text-header: #B9E7E9;
    --color-text-support: #85A7A8;
    --color-text: #F2F7F7;
    --svg-filter: invert(97%) sepia(3%) saturate(54%) hue-rotate(165deg) brightness(116%) contrast(76%);
    --color-bg: linear-gradient(233deg, rgba(1,2,8,1) 0%, rgba(4,14,24,1) 11%, rgba(5,17,19,1) 33%, rgba(6,16,24,1) 48%, rgba(6,12,20,1) 67%, rgba(6,9,22,1) 87%, rgba(3,9,22,1) 100%);
    --color-bg-header: rgba(0, 0, 0, 0);

    --selection-text: #000000;
    --selection-bg: rgb(122, 255, 252);

    --glass-bg: rgba(255, 255, 255, 0.02);

    --load-time: 0.4s;
    --stagger-time: 0.1s;

    font-family: var(--font-family);
    line-height: 32px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

canvas {
    cursor: not-allowed;
    pointer-events: none;
}

::root {
    --scrollbar-primary: rgba(1, 1, 1, 0);
}
::-webkit-scrollbar {
    width: 0.5rem;
    height: 20px;
}

::-webkit-scrollbar-track {
    background:  rgba(1, 1, 1, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

::selection {
    color: var(--selection-text);
    background: var(--selection-bg);
}

html {
    min-height: 100vh;
    background: var(--color-bg);
}

body > main {
    width: 100%;
    max-width: 70ch;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    display: flex;
    flex-direction: column;
    line-height: inherit;

    padding: 2rem;

    /* From https://css.glass */
    background: var(--glass-bg);
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(0, 0, 0, 0.17);

}

@media only screen and (max-width: 768px) {
    body {
        margin-top: 1rem;
        margin: 1rem;
        box-sizing: border-box;
    }
    body > main {
        margin-top: 0;
    }
}

body > main > *:not(:last-child) {
    border-bottom: 1px solid var(--color-text-support);
    margin-top: 1rem;
    padding-bottom: 1rem;
}

body > main > *:last-child {
    margin-top: 1rem;
}

/* masterclass CSS, you're welcome */ 

body > main > *:nth-child(1) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 1) fadeInAnimation;
    animation-fill-mode: forwards;
}

body > main > *:nth-child(2) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 2) fadeInAnimation;
    animation-fill-mode: forwards;
}

body > main > *:nth-child(3) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 3) fadeInAnimation;
    animation-fill-mode: forwards;
}

body > main > *:nth-child(4) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 4) fadeInAnimation;
    animation-fill-mode: forwards;
}

body > main > *:nth-child(5) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 5) fadeInAnimation;
    animation-fill-mode: forwards;
}

body > main > *:nth-child(6) {
    opacity: 0;
    animation: var(--load-time) ease-out calc(var(--stagger-time) * 6) fadeInAnimation;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


h1 {
    color: var(--color-text-title);
}

h2, h3, h4, h5, h6, p, li, section, div, article, a {
    color: var(--color-text-header);
    line-height: 1.5rem;
    height: fit-content;
}

@media only screen and (max-width: 768px) {
    h4 {
        color: var(--color-text);
    }
}

p, li, section, div, article, a {
    color: var(--color-text);
}

h1 { font-size: 2em; font-weight:700; }
h2 { font-size: 1.0em; }
h3 { font-size: 1.0em; }
h4 { font-size: 1.0em; }
p, li, section, div, article, a { font-size: 1em; }

p:not(:last-child) {
    margin-bottom: 1rem;
}

.background {
    position: fixed;
    display: block; 
    width: 100vw;
    height: 100vh; 
    top: 0;
    left: 0;    
    z-index: -10;
}

.text_list > li:before {
    content: "- ";
}

.quiet_text {
    color: var(--color-text-support);
}

.underline {
    text-decoration:underline;
}

.title_card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem !important;
}

.content_split {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .content_split {
        flex-direction: column;
    } 
}
.content_split > *:first-child {
    flex: none;
    width: 15ch;
    max-width: 15ch;
    background: var(--color-bg-header);
}

@media only screen and (max-width: 768px) {
    .content_split > *:first-child {
        text-transform: capitalize;
        max-width: 100%;
        width: 100%;
    } 
}

.contact_list {
    display: flex;
    flex-direction: column;
}

.contact_list > li > *{
    display: inline-block;
    margin: 0;
}

.contact_list > li >*:first-child {
    flex: none;
    width: 10ch;
    max-width: 10ch;
}

.svg_external_link {
    opacity: 0;
    filter: var(--svg-filter);
    max-height: 1rem;
    display: inline;
    position: relative;
    bottom: -0.125rem;
}

.external_link:hover {
    text-decoration: underline;
}

.external_link:hover + .svg_external_link {
    display: block;
    opacity: 1;
}

.external_link_title {
    display: flex;
    flex-direction: row;
    gap: 0.85ch;
}

.external_link_email {
    display: flex;
    flex-direction: row;
    gap: 0.85ch;
}

.work_job_title {
    display: flex;
    justify-content:space-between;
}

@media only screen and (max-width: 768px) {
    .work_job_title {
        flex-direction: column;
        margin-bottom: 1rem;
    }
}
.start_of_link {
    display: none;
}
@media only screen and (max-width: 768px) {
    .start_of_link {
        display: none;
    }
}

.contact_link:hover {
    text-decoration: underline;
    color: var(--color-text-header);
    transition: 0.3s;
}

.theme_link:hover {
    color: var(--color-text-header);
}

.theme_link:hover:before {
    content: "> ";
}

#mouse_glow {
    position: fixed;
    margin: 0px;
    width: 1px;
    height: 1px;
    background-color: white; /* for the 1px in the center */
    border-radius: 50%;
    box-shadow: 0.5px 1px 384px 384px rgba(255, 255, 255, 0.02);
}
